# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Mac/Linux executable
alien-invasion

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore Vim swap files
*.swp

# Vendor-related code
/vendor/*
!/vendor/.gitkeep
